      <h2>Showing game <%= @game_name %><h2><a href="/">Back</a>
      <table id="players">
        <tr>
          <td width='40%' align="right" class="player1Name"></td>
          <td width='20%' align="center" class="playerVs">Loading</td>
          <td width='40%' align="left" class="player2Name"></td>
        </tr>
      </table>
    <div id="main">
        <canvas id="display" width="700" height="700"></canvas>
        <p id="turnCounter"></p>
        <p id="controls">
            <a href="#" id="start-button"><span class="small">|</span>&laquo;</a> | 
            <a href="#" id="prev-frame-button">&laquo;</a> | 
            <a href="#" id="play-button">&#9654;</a> | 
            <a href="#" id="next-frame-button">&raquo;</a> | 
            <a href="#" id="end-button">&raquo;<span class="small">|</span></a>
        </p>
    </div>
    
    <footer>
        <p>
            <canvas id="chart" width="960" height="100" ></canvas>
        </p>
    </footer>
    <script>
        var data = "<%= @game %>"  
    </script>
    <script src="/js/visualizer.js"></script>
